            footer {
                padding: 50px 0;
                position: absolute;
                bottom: 0;
                background: #00ff00;
                height: 60px;
                width: 100%;
                text-align: center;
            }